*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 24, 24);
}
header h1{
    color: white;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 24, 24);

}
.navbar ul{
    display: flex;
    list-style-type: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-weight: bold;

}
.navbar ul li a{
    text-decoration: none;
    color: rgb(199, 55, 55);
    padding:  15px 40px;
}
.navbar ul li a:hover{
    background-color: azure;
    color: black;
    cursor: pointer;
    box-shadow:0 0 10px white;
}
#home{
    color:black;
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 55, 55, 0.5);
    height:600px;
    justify-content: center;
    align-items: center;
    background:url('portfolio\images\pchtml.jpg') no-repeat center/cover;
}
#home::before{
    position: absolute;
    top: 0;
    right:0;
    height:100px;
    width:100px;
    z-index: -1;
    opacity: .8;
}
.main{
    color:antiquewhite;
    text-shadow: 3px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 7%;
    font-size: 30px;
    border:3px solid black;
    border-radius: 15px;
    border-width: 33%;

}
.navbar h1{
    color:white;
    font-size: 30px;
    padding-right:80px;
}
span{
    color:rgb(173, 51, 13);
}
#home .main p{
    font-size: 25px;
    
}
#home .main h2{
    padding-bottom: 10px;
}
.btn{
    padding: 15px 35px;
    background-color: transparent;
    border: 1px solid purple;
    border-radius:15px;
    outline: none;
    margin-top: 35px;

}
.btn:hover{
    cursor: pointer;
    background-color:rgb(44, 5, 5);
    color: white;
    font-weight: bold;
    box-shadow:0 0 10px white;
    border-radius: 15px;
}
.heading{
    font-size: 30px;
    text-align: center;
    margin: 40px 0px;
}
#about{
    background-color: rgb(198, 218, 224);
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    padding: 20px;
    margin-bottom:50px;
    color:black;
}
#pic{
    display:flex;
}
#pic img{
    width: 550px;
    height: 400px;
    border:1px solid rgb(23, 23, 168, 0.9);
    border-radius:50%;
}
#intro{
    
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 25px;
    margin-bottom: 20px;
}
#services{
    background-color: rgb(198, 218, 224);
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display:flex;
}
.box{
    display: flex;
    flex-direction:column;
    width:350px;
    height:450px;
    border: 1px solid black;
    margin:10px;
    align-items: center;
    text-align: justify;
    padding:10px;
    border-radius:15px;

}
.box:hover{
    background-color: rgb(109, 103, 103);
    border: none;
}
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color:black;
    color:white;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
   
}
.input{
    padding:12px;
    width:30%;
    border-radius:15px ;
}
#msg{
    width:30%;
    padding: 10px;
    margin: 15px;
    
}
#send{
    padding:8px;
    width:10%;
    margin:30px;

}
#send:hover{
    cursor: pointer;
    box-shadow:0 0 10px white;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }